:root{
--h100:100%;
--headgray:#EAEAEA;
--h-bar:70px;
--footgray:#F3EEEB;
}


/*RESET**********************************************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul, ol{
	list-style: none;
}
a {
	text-decoration: none;
	color: currentColor;
}
img {
	max-width: 100%;
}
body{
    font-family:"Lato", sans-serif;
}


/*LAYOUT**********************************************************/
#app{
    height: 100vh;
}
.container{
    height:var(--h100);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.sidebar{
    display:none;
}


/*APP__BODY********************************************************/
.height100{
    height: var(--h100);
}
.app__body{
    flex-grow: 1;
    display: flex;
}
.body__headbar{
    background-color: var(--headgray);
    height: var(--h-bar);
}
.body__text-area{
    flex-grow: 1;
}
.body__send-area{
    background-color:var(--footgray) ;
    height: var(--h-bar);
}


/*UTILITIES********************************************************/
.column{
    flex-direction: column;
}
.bold{
    font-weight: 700;
}

/***************MEDIA QUERIES*************************************/

/***************MD - TABLET**************************************/
@media screen and (min-width: 768px){


/***COMPONENTS********************************************************/
img{
    height: 56px;
    border-radius: 50%;
}


/***ASIDE*********************************************************/
    .sidebar{
        display:flex;
        width: 80px;
    }
    .sidebar__headbar{
        display: flex;
        background-color: var(--headgray);
        height: var(--h-bar);
        justify-content: center;
        align-items: center;
        /* border-right: 2px solid #DCDCDC; */
    }
    .cta-link{
        display: none;
    }
    .sidebar__notification{
        display: none;
    }
    .sidebar__search{
        display: none;
    }
    .sidebar__chats{
        flex-grow: 1;
        background-color: white;
    }

}


/***************XL - DESKTOP**************************************/
@media screen and (min-width: 1200px){


/***LAYOUT********************************************************/
    #app{
        padding: 2.5% 0;
    } 
    .container{
        width: 75%;
        margin: 0 auto;
    }


/***ASIDE*********************************************************/
    .sidebar{
        width: 380px;
        background-color: #FAFAFA;
    }
    .sidebar__headbar{
        justify-content: space-between;
        padding: 0 5%;
    }
    .cta-link{
        display: block;
        font-size: 26px;
        color: #B1B1B1;
    }
    .cta-link a{
        padding-left:15px;
    }
    .sidebar__notification{
        background-color:#8EDAFC ;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 5%;
        gap: 18px;
    }
    .notification__text p{
        font-size: 14px;
    }

    .notification__text a {
       font-size: 12px;
       text-decoration: underline;
       color: #5B7384;
    }
    .btn{
        display: block;
        background-color: white;
        color:#8EDAFC ;
        height: 56px;
        width: 56px;
        text-align: center;
        font-size: 28px;
        line-height: 56px;
        border-radius: 50%;  
    }
    .sidebar__chats{
        max-width: 95%;
    }
    .sidebar__search{
        display:block;
    }
}


/*DEBUG**********************************************************/
.debug #app{
    background-color: blueviolet;
}
.debug .body__text-area{
    background-color: cadetblue;
}