:root{
--h100:100%;
--headgray:#EAEAEA;
--h-bar:70px;
--footgray:#F3EEEB;
}


/*RESET**********************************************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul, ol,menu{
	list-style: none;
}
a {
	text-decoration: none;
	color: currentColor;
}
img {
	max-width: 100%;
}
body{
    font-family:"Lato", sans-serif;
}


/*LAYOUT**********************************************************/
#app{
    height: 100vh;
    background: linear-gradient(180deg, rgba(77,146,136,1) 182.5px , rgba(219,219,211,1) 182.5px);
}
.container{
    height:var(--h100);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.sidebar{
    display:none;
}


/*APP__BODY********************************************************/
.app__body{
    flex-grow: 1;
    display: flex;
}
.body__headbar{
    background-color: var(--headgray);
    height: var(--h-bar);
}
.body__text-area{
    flex-grow: 1;
}
.body__send-area{
    background-color:var(--footgray) ;
    height: var(--h-bar);
}


/*UTILITIES********************************************************/
.h100{
    height: var(--h100);
}
.column{
    flex-direction: column;
}
.bold{
    font-weight: 700;
}

/***************MEDIA QUERIES*************************************/

/***************MD - TABLET**************************************/
@media screen and (min-width: 768px){


/***COMPONENTS********************************************************/
    .card__head img{
        height: 56px;
        border-radius: 50%;
    }


/***ASIDE*********************************************************/
    .sidebar{
        display:flex;
        width: 82px;
        flex-shrink: 0;
    }
    .headbar{
        display: flex;
        background-color: var(--headgray);
        height: var(--h-bar);
        justify-content: center;
        align-items: center;
        /* border-right: 2px solid #DCDCDC; */
    }
    .cta-link{
        display: none;
    }
    .sidebar__notification{
        display: none;
    }
    .sidebar__search{
        display: none;
    }
    .sidebar__chats{
        flex-grow: 1;
        background-color: white;
    }
    .card{
        display: flex;
        border-bottom: 1px solid #F5F5F5;
        padding: 15px;
    }
    .card__body, .contacts > p{
        display: none;
    }
}


/***************XL - DESKTOP**************************************/
@media screen and (min-width: 1200px){


/***LAYOUT********************************************************/
    #app{
        padding: 32px 0;
    } 
    .container{
        width: 75%;
        margin: 0 auto;
    }
    .scroll{
        overflow-y: scroll;
    }

/***COMPONENTS*****************************************************/
    .cta-link{
        display: flex;
        font-size: 26px;
        color: #B1B1B1;
    }

/***ASIDE*********************************************************/
    .sidebar{
        width: 370px;
        background-color: #FAFAFA;
    }
    .headbar{
        justify-content: space-between;
        padding: 0 15px;
    }
    .cta-link a{
        padding-left:15px;
    }
    .sidebar__notification{
        background-color:#8EDAFC ;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        gap: 18px;
    }
    .notification__text p{
        font-size: 14px;
    }
    .notification__text a {
       font-size: 12px;
       text-decoration: underline;
       color: #5B7384;
    }
    .btn{
        display: block;
        background-color: white;
        color:#8EDAFC ;
        height: 56px;
        width: 56px;
        text-align: center;
        font-size: 28px;
        line-height: 56px;
        border-radius: 50%;  
    }
    .sidebar__search{
        display:block;
        padding: 8px;
    }
    .searchbox{
        background-color: white;
        width: 95%;
        color:#757575;
        padding: 8px;
        font-size: 12px;
    }
    .searchbox i{
        padding-right: 15px;
    }
    .sidebar__chats{
        max-width: 95%;
    }
    .contacts{
        display: flex;
        justify-content: space-between;
    }
     .contacts > p{
        display: block;
        font-size: 12px;
        color:#B7B9BB ;
        padding: 20px;
    }
    .card{
        gap: 15px;
        align-items: center;
    }
    .card__body{
        display: block;
    }
    .card__body p{
        font-size: 14px;
        color: #B7B9BB ;
    }
}


/*DEBUG**********************************************************/
.debug .body__text-area{
    background-color: cadetblue;
}